.page {
  max-width: 1600px;
  font-family: 'Circe', Arial, sans-serif;
  background: #f2f2f2;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .page {
    max-width: 1440px;
  }
}

@media (max-width: 1280px) {
  .page {
    max-width: 1280px;
  }
}
