.partners {
  display: flex;
  flex-direction: column;
  margin: 0 0 172px 0;
}
.partners__wrapper-table{
  display: flex;
}
.partners__title {
  margin: 0 240px 80px auto;
}
.partners__wrapper-main {
  display: flex;
  margin: 0 auto;
}
.partners__wrapper-facts {
  margin: 0 40px 0 0;
  display: flex;
  flex-direction: column;
}
.partners__fact {
  width: 278px;
  height: 260px;
  border: 1px solid #000000;
  border-radius: 40px;
}
.partners__fact:last-child {
  margin-left: 20px;
  margin-right: 0;
}
.partners__fact_small {
  width: 128px;
  height: 119px;
  border-radius: 25px;
  margin: 0 0 0 0;
}
.partners__fact-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 110%;
  /* or 79px */

  text-transform: uppercase;

  /* Text_black */

  color: #131313;
  margin: 16px 104px 16px 16px;
}
.partners__fact-title_small {
  font-weight: 800;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  margin: 14px auto 13px 15px;
  /* Text_black */
}
.partners__fact-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  /* or 29px */

  font-feature-settings: 'liga' off;

  /* Text_black */

  color: #131313;

  margin: 0 45px auto 49px;
}
.partners__fact-text_small {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin: 0 17px auto 15px;
}
.partners__wrapper-small {
  display: flex;
  margin: 0 0 20px 20px;
}
.partners__partner {
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
  /* identical to box height, or 44px */

  text-transform: uppercase;

  color: #131313;
  margin: 0 64px 4px 0;
  display: flex;
  /* text-decoration-line: underline; */
}
.partners__partner_active {
  width: fit-content;
  border-bottom: 1px solid #131313;
}
.partners__arrow-up {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url('../../image/arrow-up.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 0 0 16px;
}
@media (max-width: 1280px) {
  .partners__title {
    margin-bottom: 40px;
    margin-right: 40px;
  }
  .partners__fact {
    width: 240px;
    height: 230px;
  }
  .partners__fact_small {
    width: 108px;
    height: 99px;
  }
  .partners__fact-title {
    margin-bottom: 8px;
  }
  .partners__fact-text {
    margin: 0 28px auto;
  }
  .partners__wrapper-facts {
    margin-right: 20px;
  }
  .partners__wrapper-small {
    margin-bottom: 10px;
  }
  .partners__fact-title_small {
    margin: 10px auto 4px 12px;
  }
  .partners__fact-text_small {
    margin: 0 15px auto 12px;
    font-size: 10px;
  }
  .partners__partner {
    font-size: 33px;
    margin-right: 32px;
  }
  .partners__arrow-up {
    margin-left: 8px;
  }
}
@media (max-width: 1024px) {
  .partners__wrapper-table{
    flex-direction: column;
  }
  .partners__wrapper-small{
    margin-left: 0px;
justify-content: space-around;
  }
  .partners__fact:last-child{
    margin-left: 0;
  }
  .partners__fact_first{
    margin-bottom: 10px;
  }
  .partners__wrapper-partners {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    gap: 20px;
  }
  .partners{
    margin-bottom: 70px;
  }
  .partners__partner{
    margin-right: 0;
  }
}