.advantages {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.advantages__wrapper-x {
  display: flex;
  margin: 0 200px 11px;
}
.advantages__wrapper-y {
  display: flex;
  flex-direction: column;
}
.advantages__item-wrapper {
  display: flex;
  width: 620px;
  height: 172px;
  margin-bottom: 40px;
}
.advantages__item-wrapper:last-child {
  margin-bottom: 0;
}
.advantages__images {
  width: 580px;
  height: 567px;
  margin: 0;
  padding: 0;
}
.advantages__item-icon {
  width: 72px;
  height: 66px;
  border: 1px solid #000000;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 40px 0 0;
}
.advantages__item-icon-1 {
  background-image: url('../../image/advantages-lock.svg');
}
.advantages__item-icon-2 {
  background-image: url('../../image/advantages-dollar.svg');
}
.advantages__item-icon-3 {
  background-image: url('../../image/advantages-phydgital.svg');
}
.advantages__item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 110%;
  /* identical to box height, or 40px */
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #131313;
  margin: 0 0 16px 0;
}
.advantages__item-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  /* or 29px */

  display: flex;
  align-items: flex-end;
  margin: 0 0 0 0;
  /* Text_black */
  width: 470px;
  color: #131313;
}
@media (max-width: 1440px) {
  .advantages__wrapper-x {
    margin: 0 100px 11px;
  }
  .advantages__images {
    width: 480px;
    height: 487px;
  }
}
@media (max-width: 1280px) {
  .advantages__wrapper-x {
    margin: 0 auto 11px;
  }
  .advantages__images {
    width: 440px;
    height: 447px;
    margin-top: 20px;
  }
  .advantages__item-icon{
    margin-right: 16px;
  }
  .advantages__item-wrapper{
    width: 550px;
  }
  .advantages__item-title{
    font-size: 32px;
    margin-bottom: 8px;
  }
  .advantages__item-text{
    width: 430px;
  }
  .advantages__item-wrapper{
    margin-bottom: 10px;
  }
  .advantages__item-wrapper{
    height: 160px;
  }
}
@media (max-width: 1024px) {
  .advantages__item-icon{
    margin-right: 8px;
    width: 36px;
    height: 33px;
    border-radius: 8px;
  }
  .advantages__wrapper-x {
    margin: 0 auto;
    max-width: 738px;
    height: 420px;
  }
  .advantages__wrapper-y{
    max-width: 400px;
    height: 130px;
  }
  .advantages__item-wrapper{
    max-width: 400px;
  }
  .advantages__item-title{
    font-size: 24px;
  }
  .advantages__item-text{
    font-size: 18px;
    width: 350px;
  }
  .advantages__images{
    width: 320px;
    height: 280px;
  }
}