.footer {
  display: flex;
  flex-direction: column;
}
.footer__wrapper {
  display: flex;
}
.footer__nav {
  display: flex;
  flex-direction: column;
}
.footer__span {
  position: absolute;
  top: 2px;
  left: 0px;
}
.footer__year_mobile {
  display: none;
}
.footer__join_mobile {
  display: none;
}
.footer__year {
  font-weight: 400;
  padding-left: 30px;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  margin: 0 234px 0 201px;
  font-feature-settings: 'liga' off;
  padding-top: 4px; /* Color_button */
  position: relative;
  color: #353535;
}
.footer__email {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  margin: 0 597px 0 auto;
  font-feature-settings: 'liga' off;

  /* Color_button */

  color: #353535;
}

.footer__join {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */

  font-feature-settings: 'liga' off;

  color: #000000;
  margin: 0 0 40px 0;
}
.footer__items {
  list-style-type: none;
  padding: 0;
  margin: 0 0 116px 0;
}
.footer__item {
  margin: 0 0 4px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  /* identical to box height, or 22px */
  padding: 0;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
@media (max-width: 1440px) {
  .footer__year {
    margin-left: 120px;
  }
  .footer__email {
    margin-right: 460px;
  }
}
@media (max-width: 1280px) {
  .footer__year {
    margin-left: 60px;
  }
  .footer__email {
    margin-right: 260px;
  }
  .footer__items {
    margin-bottom: 30px;
  }
}
@media (max-width: 1024px) {
  .footer__year {
    margin-left: auto;
    margin-right: auto;
  }
  .footer__email {
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  .footer__year {
    display: none;
  }
  .footer__join {
    display: none;
  }
  .footer__wrapper {
    width: 300px;
    margin: 0 auto;
  }
  .footer__item {
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
  }
  .footer__items {
    margin-top: 25px;
    margin-bottom: 40px;
  }
  .footer__email {
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 33px;
  }
  .footer__year_mobile {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
  }
  .footer__join_mobile {
    display: flex;
    font-size: 19px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    margin-bottom: 32px;
  }
  .footer__wrapper-mobile {
    display: flex;
    flex-direction: column;
    margin-left: 95px;
  }
}
