.system {
  display: flex;
  flex-direction: column;
  height: auto;
}
.system__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 110%;
  /* or 79px */

  text-transform: uppercase;

  /* Text_black */

  color: #131313;
  margin: 0 268px 80px auto;
  max-width: 580px;
  height: 79px;
}
.system__wrapper-x {
  display: flex;
  margin: 0 200px 75px;
}
.system__wrapper-y {
  display: flex;
  flex-direction: column;
}
.system__image {
  width: 280px;
  height: 200px;
  margin: 0 163px 40px 0;
  border-radius: 20px;
}
.system__image:last-child {
  margin-bottom: 0;
}
.system__wrapper-line {
  width: 17px;
  position: relative;
  margin-right: 160px;
}
.system__line {
  width: 1px;
  height: 680px;
  background-color: #131313;
  margin: 0 auto;
}
.system__circle {
  width: 17px;
  height: 17px;
  background-image: url('../../image/circle-black.svg');
}
.system__circle_one {
  margin-top: -582px;
  margin-bottom: 232px;
}
.system__circle_two {
  margin-bottom: 232px;
}
.system__circle_one {
}
.system__step {
  width: 580px;
  height: 147px;
  display: flex;
  flex-direction: column;
  margin: 0 0 93px;
}
.system__step:last-child {
  margin-bottom: 0px;
}
.system__step-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
  /* identical to box height, or 44px */

  text-transform: uppercase;

  /* Text_black */

  color: #131313;
  margin: 0 0 16px 0;
}
.system__step-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  /* or 29px */
  margin: 0;
  /* Text_black */

  color: #131313;
}
@media (max-width: 1440px) {
  .system__wrapper-x {
    margin: 0 100px 75px;
  }
  .system__image{
    margin-right: 83px;
  }
  .system__wrapper-line{
    margin-right: 60px;
  }
}
@media (max-width: 1280px) {
  .system__title {
    margin-right: 40px;
  }
  .system__wrapper-x{
    margin: 0 auto 75px;
  }
  .system__image{
    margin-right: 33px;
  }
  .system__wrapper-line{
    margin-right: 30px;
  }
  .system__title{
    margin-bottom: 40px;
    font-size: 60px;
  }
}